@import '@fontsource/ribeye-marrow';

:root {
  --background-color: #121212;
  --primary-color: #ff4081;
  --secondary-color: #303f9f;
  --font-primary: 'Ribeye Marrow', cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  background-color: var(--background-color);
  color: white;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}