.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width:96%;
  padding: 1rem 2rem;
  z-index: 1000;
}

.navLeft {
  display: flex;
}

.nav {
  display: flex;
  gap: 1rem;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--primary-color);
}