

.main {
  height: 100vh;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-left: 2rem;
}

.content {
  z-index: 1;
  max-width: 400px;
}

.name {
  font-family: var(--color-background);
  color: var(--color-backgroundt);
  font-size: 4rem;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.description {
  font-family: var(--color-backgroundcolor-background);
  font-size: 1.5rem;
  color: var(--color-background);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.neurons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/image 1.png') no-repeat center center/cover;
  z-index: 0;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
}

/* Animation for typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--color-text); }
}

.animatedText {
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid var(--color-background);
  animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
}